<%-include("../layout/adminHeader.ejs")-%>
<%-include("../layout/adminCentre.ejs")-%>
<%-include("../partials/adminNavbar.ejs")-%>
<style>
    thead th {
      vertical-align: top;
    }

    #headT{
         margin-left:200px ;
         background-color:rgb(26, 26, 54);
         height: 50px;
         width: 175px;
         margin-top: -10px;
         border-bottom-left-radius: 7px;
         border-bottom-right-radius: 7px;
         font-size: x-large;
         align-items: center;
         justify-content: center;
         display: flex;
         color:orange;
    }
  
  </style>
  <div class="container " style="margin-top: 80px;">
    <div id="headT">COUPONS</div>
      <div class="row">
          <div class="col-md-12">
              
              <a id="addCouponBtn" class="btn btn-primary p-2 m-3 float-end">Add Coupon</a>
          </div>
      </div>
  </div>
  <div class="container" >
     
      <div class="row1">
         
          <div class="col-md-12" style="z-index: -1;">
              
            
                <table class="table" id="example">
                  <thead>
                    <tr>
                      <th scope="col" class="text-center">SI.NO</th>
                      <th scope="col" class="text-center">COUPON <br> CODE</th>
                      <th scope="col" class="text-center">MINIMUM PURCHASE <br> AMOUNT</th>
                      <th scope="col" class="text-center">DISCOUNT <br> AMOUNT</th>
                      <th scope="col" class="text-center">VALID <br> FROM</th>
                      <th scope="col" class="text-center">EXPIRY <br> DATE</th>
                      <th scope="col" class="text-center">VIEW</th>
                      <th scope="col" class="text-center">STATUS</th>
                     
                    </tr>
                  </thead>
                  <tbody>
                    <% coupons.forEach((ele,index) => { %>
                      <tr>
                        <th scope="row" class="text-center"><%-index+1-%></th>
                        <td class="text-center"><%-ele.couponCode-%></td>
                        <td class="text-center"><%-ele.minimumPurchaseAmount-%></td>
                        <td class="text-center"><%-ele.discountAmount-%></td>
                        <td class="text-center"><%= new Date(ele.validFrom).toLocaleDateString('en-US', { day: 'numeric', month: 'long', year: 'numeric' }) %></td>
                        <td class="text-center"><%= new Date(ele.expiryDate).toLocaleDateString('en-US', { day: 'numeric', month: 'long', year: 'numeric' }) %></td>
                        <td class="text-center">
                          <a href="/admin/viewCoupons/<%-ele._id-%>" class="btn btn-success">view</a>                                                                                 
                      </td>
                      
                      <td class="text-center">
                        <% 
                        // Convert expiryDate string to Date object
                        var expiryDate = new Date(ele.expiryDate);
                        // Get today's date without time
                        var today = new Date();
                        today.setHours(0,0,0,0);
                        if (expiryDate <= today) { // Compare dates
                        %>
                        <span class="badge rounded-pill bg-warning" style="font-weight: 400;">Expired</span>
                        <% } else { %>
                        <span class="badge rounded-pill bg-success" style="font-weight: 400;">Active</span>
                        <% } %>
                    </td>
                    
                        
                
                      </tr>
                    <% }) %>
                  </tbody>
                </table>
                
          </div>
      </div>
  </div>
 
  
  <div class="modal fade" id="addCouponModal" tabindex="-1" role="dialog" aria-labelledby="addCouponModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center w-100" id="addCouponModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background-color: transparent; border: none; font-size: 24px;" onclick="window.location.reload();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
   
                <form id="couponForm">
                    <input type="text" class="form-control" id="couponid" hidden>
                    <div class="form-group">
                        <label for="couponCode">Coupon Code</label>
  
                        <input type="text" class="form-control" id="couponCode" readonly>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" id="description" required>
                    </div>
                    <div class="form-group">
                        <label for="minimumPurchaseAmount">Minimum Purchase Amount</label>
                        <input type="number" class="form-control" id="minimumPurchaseAmount" required>
                    </div>
                    <div class="form-group">
                        <label for="discountAmount">Discount Amount</label>
                        <input type="number" class="form-control" id="discountAmount" required>
                    </div>
                    <div class="form-group">
                        <label for="validFrom">Valid From</label>
                        <input type="date" class="form-control" id="validFrom" required>
                    </div>
                    <div class="form-group">
                        <label for="validTo">Expiry Date</label>
                        <input type="date" class="form-control" id="validTo" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveChangesBtn">Save changes</button>
            </div>
        </div>
    </div>
  </div>
  
  <script>
   
    document.getElementById('couponCode').value = '<%= couponCode %>'
  </script>
  
  
  
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
  
  <script>
    $(document).ready(function() {
        $('#example').DataTable();
    });
  </script>
  
  <script>
    
    $(document).ready(function () {
        $('#addCouponBtn').click(function () {
          $('#addCouponModalLabel').text('Add Coupon');
          $('#saveChangesBtn').text('Add Coupon');
            $('#addCouponModal').modal('show');
        });
    });
  </script>
  <script>
    
    document.getElementById("saveChangesBtn").addEventListener("click", function() {
        var couponId = document.getElementById("couponid").value.trim();
        var couponCode = document.getElementById("couponCode").value.trim();
        var description = document.getElementById("description").value.trim();
        var minimumPurchaseAmount = document.getElementById("minimumPurchaseAmount").value.trim();
        var discountAmount = document.getElementById("discountAmount").value.trim();
        var validFrom = document.getElementById("validFrom").value;
        var validTo = document.getElementById("validTo").value;
        var currentDate = new Date();
        currentDate.setHours(0, 0, 0, 0);
        console.log(currentDate);
        var modalLabel = document.getElementById("addCouponModalLabel").innerText.trim();
          var url = "";
          var method = "";
          
          if (modalLabel === "Add Coupon") {
              url = "/admin/addCoupon";
              method = "POST";
          } else if (modalLabel === "Edit Coupon") {
              url = `/admin/editcoupon/${couponId}`;
              method = "PUT";
          } else {
              console.error("Unknown modal label: " + modalLabel);
              return;
          }
  
        if (couponCode === "") {
            showAlert('error', 'Coupon Code cannot be empty');
            return;
        }
        if (description === "") {
            showAlert('error', 'Description cannot be empty');
            return;
        }
        if (/^[0-9~`!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/.test(description)) {
            showAlert('error', 'Description cannot start with a symbol or number');
            return;
        }
        if (parseFloat(minimumPurchaseAmount) <= 0 || isNaN(parseFloat(minimumPurchaseAmount))) {
            showAlert('error', 'Minimum Purchase Amount must be a valid number greater than 0');
            return;
        }
        if (parseFloat(discountAmount) <= 0 || isNaN(parseFloat(discountAmount))) {
            showAlert('error', 'Discount Amount must be a valid number greater than 0');
            return;
        }
        if (parseFloat(discountAmount) >= parseFloat(minimumPurchaseAmount)) {
            showAlert('error', 'Discount Amount must be less than Minimum Purchase Amount');
            return;
        }
        if (new Date(validFrom) >= new Date(validTo)) {
            showAlert('error', 'Valid To date must be after Valid From date');
            return;
        }
        if ((currentDate > new Date(validFrom) || currentDate >= new Date(validTo ))&& modalLabel === "Add Coupon") {
            showAlert('error', 'Please select Valid dates');
            return;
        }
  
        // AJAX post request using fetch API
        fetch(url, {
            method: method,
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                couponCode: couponCode,
                description: description,
                minimumPurchaseAmount: minimumPurchaseAmount,
                discountAmount: discountAmount,
                validFrom: validFrom,
                expiryDate: validTo
            })
        })
        .then(response => response.json())
        .then(data => {
          if (data.errorMessage) {
            showAlert('error', data.errorMessage);
          } else {
              showAlert('success', data.successMessage);
              // Reload page after 2 seconds
              setTimeout(function() {
                  window.location.reload();
              }, 2000);
          }
        })
        .catch(error => {
            console.error('Error:', error);
            // Display error message
            showAlert('error', 'An error occurred. Please try again later.');
        });
    });
  
    function deleteCoupon(couponId) {
      // Display confirmation dialog
      Swal.fire({
          title: 'Are you sure?',
          text: 'You are about to delete this coupon. This action cannot be undone.',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#d33',
          cancelButtonColor: '#3085d6',
          confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
          // If user confirms deletion
          if (result.isConfirmed) {
              // AJAX request to delete the coupon
              $.ajax({
                  url: `/admin/deletecoupon/${couponId}`,
                  method: 'DELETE',
                  success: function(response) {
                      console.log('Coupon deleted successfully');
                      showAlert('success', 'Coupon deleted successfully');
                      setTimeout(function() {
                          window.location.reload();
                      }, 2000);
                  },
                  error: function(xhr, status, error) {
                      // Handle error
                      console.error('Error deleting coupon:', error);
                      // Optionally, you can display an error message to the user
                      showAlert('error', 'An error occurred while deleting the coupon. Please try again later.');
                  }
              });
          }
      });
  }
  
    // Function to show SweetAlert messages
    function showAlert(icon, message) {
        Swal.fire({
            icon: icon,
            title: message,
            showConfirmButton: false,
            timer: 2000
        });
    }
  </script>
  
  <script>
    function editCoupon(couponId) {
      // AJAX call to fetch data for the given coupon ID
      $.ajax({
        url: `/admin/editCoupon/${couponId}`,
        method: 'put',
        success: function(response) {
          // Handle the response data and display it in a modal
          showModalWithData(response.coupon);
        },
        error: function(xhr, status, error) {
          // Handle errors
          console.error(error);
        }
      });
    }
  
    function showModalWithData(data) {
      console.log(data.validFrom);
      
      $('#addCouponModalLabel').text('Edit Coupon');
      $('#saveChangesBtn').text('Edit Coupon');
      $('#couponid').val(data._id)
      $('#couponCode').val(data.couponCode);
      $('#description').val(data.description);
      $('#minimumPurchaseAmount').val(data.minimumPurchaseAmount);
      $('#discountAmount').val(data.discountAmount);
  
      var validFromDate = new Date(data.validFrom);
      var formattedValidFrom = validFromDate.toISOString().split('T')[0]; // Get yyyy-mm-dd part
      $('#validFrom').val(formattedValidFrom);
      
      var validToDate = new Date(data.validTo);
      var formattedValidTo = validToDate.toISOString().split('T')[0]; // Get yyyy-mm-dd part
      $('#validTo').val(formattedValidTo);
  
      // Show the modal
      $('#addCouponModal').modal('show');
  }
  </script>

<%-include("../layout/adminFooter.ejs")-%>