<%-include("../layout/adminHeader.ejs")-%>
<%-include("../layout/adminCentre.ejs")-%>
<style>
  #headT {
    background-color: rgb(26, 26, 54);
    height: 50px;
    width: 100%; /* Change width to 100% */
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    font-size: x-large;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
  }
</style>

<%-include("../partials/adminNavbar.ejs")-%>

<div class="container-fluid" >
  <br>
  <br>
  <br>
  <div class="container mt-5" >

    <!-- Main content -->
    <div class="row">
      <div class="col-lg-8">
        <!-- Details -->
        <div class="card mb-4">
          <div class="card-body">
            <!-- Title -->
            <div class="d-flex justify-content-between align-items-center py-3">
              <h2 class="h5 mb-0"><a href="#" class="text-muted"></a># <%= ordrs._id %></h2>
            </div>

            <!-- Products -->
            <table class="table table-borderless">
              <tbody>
                <% ordrs.products.forEach((prdkt,index)=> { %>
                  <tr style="background-color: white;">
                    <td>
                      <div class="d-flex mb-2">
                        <div class="flex-shrink-0">
                          <img src="/productimages/<%= prdkt.productid.images[0] %>" style="width: 100px;" alt=""
                            width="35" class="img-fluid">
                        </div>
                        <div class="flex-lg-grow-1 ms-3" style="margin-top: 20px;">
                          <h6 class="" style="font-weight: 600;">
                            <%= prdkt.productid.productName %>
                          </h6>
                          <span class="small">Category: <%= prdkt.productid.Category.categoryname %></span>
                          <% if (prdkt.status === "Processing") { %>
                            <span class="badge rounded-pill bg-warning" style="font-weight: 400;margin-left: 38px">
                              <%= prdkt.status %>
                            </span>
                          <% } else if (prdkt.status === "Confirmed") { %>
                            <span class="badge rounded-pill bg-primary" style="font-weight: 400;margin-left: 38px">
                              <%= prdkt.status %>
                            </span>
                          <% } else if (prdkt.status === "Shipped") { %>
                            <span class="badge rounded-pill bg-info" style="font-weight: 400;margin-left: 38px">
                              <%= prdkt.status %>
                            </span>
                          <% } else if (prdkt.status === "Delivered") { %>
                            <span class="badge rounded-pill bg-success" style="font-weight: 400;margin-left: 38px">
                              <%= prdkt.status %>
                            </span>
                          <% } else if (prdkt.status === "Cancelled") { %>
                            <span class="badge rounded-pill bg-danger" style="font-weight: 400;margin-left: 38px">
                              <%= prdkt.status %>
                            </span>
                          <% } %>
                        </div>
                      </div>
                    </td>
                    <td>Qty: <%= prdkt.quantity %></td>
                    <td class="text-end">₹ <%= prdkt.productid.grandprice %></td>
                  </tr>
                <% }) %>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="2">Shipping</td>
                  <td class="text-end">Free</td>
                </tr>
                <tr style="background-color: white;">
                  <td colspan="2">Discount Amount</td>
                  <td class="text-danger text-end">- ₹ <%= ordrs.discountAmount %></td>
                </tr>
                <tr style="background-color: rgb(208, 207, 207);" class="fw-bold">
                  <td colspan="2">TOTAL</td>
                  <td class="text-end">₹ <%= ordrs.totalAmount %></td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>

        <!-- Payment -->
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <h3 class="h6" style="font-weight: bolder;">Order Information</h3>
                <h6>Order Status: <span class="badge rounded-pill bg-info" style="font-weight: 400;"><%= ordrs.orderStatus %></span></h6>
                <% if (ordrs.orderStatus!="Order Delivered") { %>
                  <h6>Expected Delivery Date & Time: <span style="font-weight: 400;"><%- ordrs.expectedDeliveryDate.toLocaleString('en-IN', { timeZone: 'Asia/Kolkata' , dateStyle: 'short' , timeStyle: 'short' }) %></span></h6>
                <% } else { %>
                  <h6>Delivered Date & Time: <span style="font-weight: 400;"><%- ordrs.deliveryDate.toLocaleString('en-IN', { timeZone: 'Asia/Kolkata' , dateStyle: 'short' , timeStyle: 'short' }) %></span></h6>
                <% } %>
              </div>
              <div class="col-lg-6">
                <h3 class="h6">Shipping address:</h3>
                <address>
                  <strong><%= ordrs.address.name%></strong><br>
                  <%= ordrs.address.address%> <%= ordrs.address.locality%><br>
                  <%= ordrs.address.city%> <%= ordrs.address.district%><br>
                  <span title="Phone">PIN:</span> <%= ordrs.address.pincode%>
                </address>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card mb-4">
          <!-- Shipping information -->
          <div class="card-body">
            <h4>Billing Address:</h4>
            <address>
              <strong>THANAF WATCHES</strong><br>
              KOZKIKODE CALICUT<br>
              Kerala, <br>
              <span title="Phone">P:</span> +9102983232
            </address>
          </div>
        </div>
      </div>
    </div>
  
</div>
</div>


  <%-include("../layout/adminFooter.ejs")-%>