<%-include("../layout/adminHeader.ejs")-%>
<%-include("../layout/adminCentre.ejs")-%>
<%-include("../partials/adminNavbar.ejs")-%>
<!-- <style>
    #popup {
        display: none;
        align-items: start;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        border-radius: 5px;
        background-color: green;
        border:none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        z-index: 1000;
    }
    </style> -->
    <div class="container" style="justify-content: center;margin-top: 150px;width: 550px;" >
        <section class="card" style="height: 230px;">
            <form action="/admin/Updatecategory" method="post">
                <div class="card-header bg-dark text-white text-center">
                    <h4>Edit Category</h4>
                    <!-- <div id="popup">
                        <h6 style="color:white"></h6>
                    </div> -->
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="categoryName" class="form-label">Enter Category</label>
                        <input type="text" class="form-control" id="categoryName" name="categoryname" value="<%= categoryname.categoryname%>" required>
                        <input type="text" name="id" id="id" value="<%= categoryname._id %>" hidden>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-success">Update Category</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
    <!-- <script>
        function showPopup() {
          document.getElementById('popup').style.display = 'block';
      
          // Set a timeout to hide the popup after 3000 milliseconds (3 seconds)
          setTimeout(function () {
              document.getElementById('popup').style.display = 'none';
          }, 2000);
      }
        </script> -->
    
    
    <%-include("../layout/adminFooter.ejs")-%>