<%-include("../layout/adminHeader.ejs")-%>
<%-include("../layout/adminCentre.ejs")-%>
<%-include("../partials/adminNavbar.ejs")-%>

    <div class="container" style="justify-content: center;margin-top: 150px;width: 550px;" >
        <section class="card" style="height: 230px;">
            <form action="/admin/updateBrand" method="post">
                <div class="card-header bg-dark text-white text-center">
                    <h4>Edit Brand</h4>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="categoryName" class="form-label">Enter Brand</label>
                        <input type="text" class="form-control" id="brandname" name="brandname" value="<%= brandname.brandname%>" required>
                        <input type="text" name="id" id="id" value="<%= brandname._id %>" hidden>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-success">Update Brand</button>
                    </div>
                </div>
            </form>
        </section>
    </div>

    
    
    <%-include("../layout/adminFooter.ejs")-%>