<%-include("../layout/adminHeader.ejs")-%>
<script src="/javascript/categoryStatus.js"></script>
<%-include("../layout/adminCentre.ejs")-%>
<style>
    #headT{
         margin-left:200px ;
         background-color:rgb(26, 26, 54);
         height: 50px;
         width: 175px;
         margin-top: -10px;
         border-bottom-left-radius: 7px;
         border-bottom-right-radius: 7px;
         font-size: x-large;
         align-items: center;
         justify-content: center;
         display: flex;
         color:orange;
    }
</style>
<%-include("../partials/adminNavbar.ejs")-%>
<div class="container " style="margin-top: 80px;">
    <div id="headT">Return Details</div>
 
</div>
<div class="container">
   
    <div class="row">
       
        <div class="col-md-12">
            
          
              <table class="table" id="example">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">UserId</th>
                    <th scope="col">OrderId</th>
                    <th scope="col">Reason</th>
                    <th scope="col">Status</th>
                   
                  </tr>
                </thead>
                <tbody>
                  <% returnData.forEach(returnItem => { %>
                      <tr>
                          <td><%- returnItem.createdAt.toLocaleString('en-IN', { timeZone: 'Asia/Kolkata', dateStyle: 'short', timeStyle: 'short' }) %></td>
                          <td><%- returnItem.userId %></td>
                          <td><%- returnItem.orderId %></td>
                          <td>
                              <a href="/admin/returnReason/<%- returnItem.dataId %>/<%= returnItem.orderId %>" class="btn btn-success">view</a>
                          </td>
                          <% if (returnItem.status === 'Requested') { %>
                              <td><span class="badge rounded-pill bg-warning" style="font-weight: 400;">Requested</span></td>
                          <% } else { %>
                              <td><span class="badge rounded-pill bg-danger" style="font-weight: 400;">Return Rejected</span></td>
                          <% } %>
                      </tr>
                  <% }) %>
              </tbody>
              
              
              </table>
              
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
          let table = new DataTable('#example');
        });
  </script>
  
<%-include("../layout/adminFooter.ejs")-%>