<%-include("../layout/userHeader.ejs")-%>
<script src="/javascript/wishlistAjax.js"></script>
<%-include("../layout/userCentre.ejs")-%>
<%-include("../partials/userNavbar.ejs")-%>

<style>
    /* CSS for custom styling */
    .main-container {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cart-img {
        max-width: 100%;
        height: auto;
    }
</style>


<div class="main-container">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-5">
                <div class="card"  style="border-radius: 20px;border: 2px solid rgb(247, 242, 242);">
                    <div class="card-body" style="color: brown;font-size: x-large;">
                        <img src="https://cdni.iconscout.com/illustration/premium/thumb/no-wishlist-8316267-6632287.png" class="img-fluid" alt="Empty Cart Image">
                       WISHLIST IS EMPTY
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%-include("../partials/userFooter.ejs")-%>
<%-include("../layout/userFooter.ejs")-%>